// Светлая тема
$primary: #FFA726; // Оранжевый (основной акцент)
$secondary: #333333; // Темно-серый (заголовки, текст)
$success: #66BB6A; // Зелёный (успех)
$danger: #EF5350; // Красный (ошибка)
$warning: #FFB74D; // Светло-оранжевый (предупреждение)
$info: #42A5F5; // Синий (информация)
$body-bg: #FFFFFF; // Белый фон страницы
$body-color: #212121; // Темно-серый текст

// Тёмная тема
$dark-primary: #FF9800; // Яркий оранжевый (основной акцент)
$dark-secondary: #E0E0E0; // Светло-серый (текст)
$dark-success: #43A047; // Тёмно-зелёный (успех)
$dark-danger: #E53935; // Тёмно-красный (ошибка)
$dark-warning: #FFB74D; // Светло-оранжевый (предупреждение)
$dark-info: #1E88E5; // Тёмно-синий (информация)
$dark-body-bg: #121212; // Чёрный фон страницы
$dark-body-color: #E0E0E0; // Светло-серый текст
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}




